{{>header}}
<a class="delete-link" href="delete">Delete all files</a>

<table>
    <tr>
        <th>Id</th>
        <th>Extension</th>
        <th>Name</th>
        <th>Size</th>
        <th>Type</th>
        <th colspan="3">Links</th>
    </tr>
    {{#each files}}
    <tr>
        {{>file}}
    </tr>
    {{/each}}
</table>